$bordo: rgb(136, 0, 0);

*{
    background-color: black;
    color: $bordo;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    text-decoration: none;
}