@import "reseteo";

*{background-color: #090b0d;}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

main{
    text-align: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    .parrafo { grid-area: parrafo;
        align-content: center;
        background-color:rgb(136, 0, 0) ;
        width: 70%;
    }
}

h2 {     color: #E5E3E8;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align:center;
    text-transform: uppercase;
    padding-bottom: 10%;

}
h1 {
    color: #E5E3E8;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 30px;
}
.logo{
    text-align:center;
    width: 50%;
    height: 50%;
}
a {
    font-family: 'Montserrat';
    color: #E5E3E8;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}
a:hover {
    background-color: #FF1E2D;
    color: #090b0d;
}

header{
    padding: 50px 20px;
    display: flex;
    font-weight: bold;
}
footer{
    text-align: right;

}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $bordo;
    text-align: center;
    width: 200px;
}
.informacion {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imagen parrafo parrafo"
". . .";
    }

        .remera {
            opacity: 0.7;
        }
        .buzo {
            opacity: 0.7;
        }
        .remera2 {
            opacity: 0.7;
        }
        .buzo2 {
            opacity: 0.7;
        }
        .remera:hover {
            opacity: 1;
        }
        .buzo:hover {
            opacity: 1;
        }
        .remera2:hover {
            opacity: 1;
        }
        .buzo2:hover {
            opacity: 1;
        }
        .nav-item {
            color: rgb(136, 0, 0);
            border: rgb(136, 0, 0) solid 3px;
            border-radius: 20%;
            margin: 10px;
            opacity: 0.5;
            transform: scale(0.93, 0.93);
            justify-content: center;
        }
        .nav-item:hover {
            opacity: 1;
            transform: scale(1, 1);
        }
        main {
            text-align: center;
            margin: 3px;
            padding: 3px;
            flex-wrap: wrap;
        }
        main {
            display: flex;
            text-align: center;
            padding: 1rem;
            flex-direction: column;
        }

        @media screen and (max-width: 480px) {
        main {
        display: flex;
        text-align: center;
        padding: 1rem;
        flex-direction: column;
        }
        header {
        flex-direction: column;
        justify-content: center;
        }
        header img {
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
        }
        .menu { 
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .remera {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .buzo {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .remera2 {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .buzo2 {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
    }
    @media screen and (min-width: 768px) {
        .imagen { 
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .remera {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .buzo {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .remera2 {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .buzo2 {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
    }
    @media screen and (min-width: 1024px) and (min-width: 1440px) {
        .imagen { 
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .remera {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .buzo {
        width: 50%;;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .remera2 {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
        .buzo2 {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        }
    }
