/*

#090B0D
#E5E3E8
#FF1E2D

*/
*{background-color: #090b0d;}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
}



h1 {
    color: #E5E3E8;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 30px;
}

.logo{
    text-align:center;
}

a {
    font-family: 'Montserrat';
    color: #E5E3E8;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}
a:hover {
    background-color: #FF1E2D;
    color: #090b0d;
}
p{
    font-family: 'Montserrat';
    font-size: 20;
    color: #E5E3E8;
    
}
header{
    padding: 50px 20px;
    display: flex;
    font-weight: bold;
}

footer{
    text-align: right;

}

.informacion {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imagen parrafo parrafo"
". . .";
    }

    .parrafo { grid-area: parrafo;
align-content: center;
padding-inline: 30%;}
    
    .imagen { grid-area: imagen;
    padding-inline-start: 30%;}

